.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.vw100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

.p1 {
  padding: 1em;
}

p.thick {
  font-weight: bold;
}

.bg {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
}
